@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2>@ViewBag.Greeting <br /></h2>
    <h3>Welcome to party invites! <br/>
    </h3>
    <div class="btn btn-success">
        @Html.ActionLink("Subscribe now", "Subscribe")
    </div>
</div>